<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Our Stylesheets -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <!-- External Javascript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Our Javascript -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/user-functions.js"></script>
    <script type="text/javascript" src="/scripts/validations.js"></script>
  </head>

  <body>

    <% include partials/_nav %>

    <div class="container">
      <div class="registration-container">
        <h1>Registration</h1>

        <form method="POST" action="/api/users" id="registration">

          <img class="avatar-big" src="/images/placeholder-user.png">

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Avatar URL</span>
            <input type="URL" class="form-control" placeholder="Avatar URL" name="avatar_URL" maxlength="255" id="avatar">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Fullname (*)</span>
            <input type="text" class="form-control" placeholder="Fullname" name="full_name" maxlength="40" id="fullname">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Username (*)</span>
            <input type="text" class="form-control" placeholder="Username" name="user_name" maxlength="20" id="username">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">E-mail (*)</span>
            <input type="email" class="form-control" placeholder="E-mail" name="email" maxlength="255" id="email">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password (*)</span>
            <input type="password" class="form-control" placeholder="Password" name="password" maxlength="20" id="password1">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Confirm Password (*)</span>
            <input type="password" class="form-control" placeholder="Password" maxlength="20" id="password2">
          </div>

          <div>
            <p id="register_message"></p>
            <button class="btn btn-default" type="submit" id="register-btn">Submit</button>
          </div>

        </form>

      </div>

    </div>

  </body>
</html>
