html {
  background-image: url('/images/rsz_pexels-photo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: rgba(0,0,0,0);
  margin-bottom: 15px;
}

.registration-container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  color: black;

    .input-group {
      margin: 15px 0;
      width: 100%;

      .input-group-addon {
        width: 15%;
        text-align: right;
        background-color: $nav-color;
        color: #FFFFFF;
      }
    }

    .avatar-big {
      width: 200px;
      height: auto;
    }
}
