.container {
  color: #FFFFFF;

  #my-resources {
    margin-top: 20px;
  }

  #my-liked-resources {
    margin-top: 20px;
  }
}

.myresources-header {
  h1 {
    margin-top: 30px;
    text-shadow: 1px 1px 5px black;
  }
}
