.navbar {
  background-color: $nav-color;

  span {
    color: $nav-text-color;
  }

  #nav_message {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
  }
}

.logged-out {
}

.logged-in {
  display: none;
}


.avatar {
  height: 30px;
  width: auto;
}

