.navbar {
  background-color: $nav-color;
  width: 100%;
  border: 0;
  border-radius: 0;

  span {
    color: $nav-text-color;
  }

  #nav_message {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
  }

  .btn-default {
    color: $nav-color;
    margin-left: 10px;
  }

  .form-control {
    margin-left: 10px;
  }

  a:link {
    text-decoration: none;
  }
}

.logged-in {
  display: none;
}

.avatar {
  height: 30px;
  width: auto;
}

.navbar-brand {

  span {
  font-family: helvetica;
  font-size: 32pt;
  }
}

@media (min-width: 500px) {
  .navbar-brand {

    span {
    font-family: helvetica;
    font-size: 40pt;
    }
  }

}
