  .input-group {
    margin: 15px 0;
    width: 100%;

    .input-group-addon {
      width: 15%;
      text-align: right;
      background-color: $nav-color;
      color: #FFFFFF;
    }

    textarea {
      height: 100px;
    }
  }


.new-container {
  background-color: #FFFFFF;
  padding: 20px;
  overflow: auto;

  #submit-resource-btn {

  }

  #message{
    color: $flash-message-color;
    //float: left;
    margin: 0 10px;
    font-size: $flash-message-size;
  }

  .counter {
    font-size: $flash-message-size;
    float: right;
    padding-right: 10px;
  }

  .over-char-limit{
    color: $flash-message-color;
  }

  #selectbox {
    overflow: scroll;
  }
}



.hidden-button {
  display: none;
}
