.search-container {
  text-align: center;
  margin: 0 0 15px;

  #search {
    display: block;
    margin: 0 auto 15px;
    height: 50px;
    width: 50%;
    min-width: 300px;
    border-radius: 30px;
    font-size: 18px;
  }

  #no-results {
    font-size: 30px;
    color: #FFFFFF;
    display: none;
  }
}
